<div class="header">
    <div class="container header-container">
        <a class="header-heading" routerLink="/">My Tasks</a>

        <div class="header-links">
            <a routerLink="/about">About</a>
            <a routerLink="/contact">Contact</a>
            @if(!authService.session){
            <a routerLink="/auth/login">Login</a>
            }@else{
            <button class="button-link" (click)="authService.logout()">Logout</button>
            }
        </div>

    </div>
</div>
