{{form.value.id}}
<form (submit)="form.value.id? update(): create()" action="" [formGroup]="form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>{{form.value.id ? 'Update ' : 'Create new '}}task</h1>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input formControlName="title" matInput placeholder="Title">
                <mat-error>Please
                    <strong>enter</strong> a valid title
                </mat-error>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button type="submit" [disabled]="form.invalid" color="primary">
                {{form.value.id ? 'Update' : 'Create'}}
            </button>
        </mat-card-actions>
    </mat-card>
</form>
