<div class="form-container">
    <form (submit)="form.value.id? update(): create()" action="" [formGroup]="form">
        <h1 class="heading">{{form.value.id ? 'Update ' : 'Create new '}}task</h1>

        <div class="input-container">
            <input class="input task-input" formControlName="title" name="title" placeholder="Title">
            @if(
            form.get('title')?.touched &&
            form.get('title')?.errors
            ){
            @if(form.get('title')?.errors?.['required']){
            <div class="error">Title is required</div>
            }
            }
        </div>

        <div class="button-container">
            <button class="button small-text" type="submit" [disabled]="form.invalid">
                {{form.value.id ? 'Update' : 'Create'}}
            </button>
        </div>
    </form>
</div>
