<div class="form-container">
    <form (submit)="submit()" [formGroup]="form">
        <div class="input-container">
            <label class="input-label" for="email">Email</label>
            <input class="input" formControlName="email" type="email" id="email" name="email" placeholder="Email">
        </div>

        <div class="button-container">
            <button class="button small-text" [disabled]="!form.valid" type="submit">
                Reset
            </button>
        </div>
    </form>
</div>
