:root {
    --white: #fff;
    --primary: #133E87;
    --secondary: #F3F3E0;
    --primary-medium: #608BC1;
    --primary-light: #CBDCEB;
    --font: #003333;
    --light-grey: #F0F0F0;
    --grey: #DCDCDC;
    --dark-grey: #C0C0C0;
    --red: #ff3333;
}
