.mat-mdc-text-field-wrapper.mat-mdc-text-field-wrapper.mat-mdc-text-field-wrapper {
    background-color: transparent;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 0;
}

.mdc-line-ripple {
    display: none;
}

.mat-mdc-row, .mat-mdc-select, .mat-mdc-header-row {
    font-size: 16px!important;
}
